---
layout: null
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://timerrapp.com/</loc>
    <priority>1.0</priority>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://timerrapp.com/alarm/</loc>
    <priority>0.9</priority>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://timerrapp.com/timer/</loc>
    <priority>0.9</priority>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://timerrapp.com/stopwatch/</loc>
    <priority>0.9</priority>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://timerrapp.com/pomodoro/</loc>
    <priority>0.9</priority>
    <changefreq>weekly</changefreq>
  </url>
  {% for alarm in alarms %}
  <url>
    <loc>https://timerrapp.com/alarm/{{ alarm.slug }}/</loc>
    <priority>0.7</priority>
    <changefreq>monthly</changefreq>
  </url>
  {% endfor %}
  {% for timer in timers %}
  <url>
    <loc>https://timerrapp.com/timer/{{ timer.slug }}/</loc>
    <priority>0.7</priority>
    <changefreq>monthly</changefreq>
  </url>
  {% endfor %}
</urlset>